#startArea{
    startLeftoat: left;
    margin-top: 10px;
}

.startLeft{
    startLeftoat:left;
}

.taskBlockNew{
    float: left;
    height: 350px;
    width: 250px;
    border: 1px solid #000;
    padding: 11px;
    overflow: auto;
    margin: 0 0 0px 7px;
}
.taskBlockNew span{
    font-weight:bold;
}

#taskBarTemplate textarea{
    resize: vertical;
    height: 100px;
    width: 250px;
    margin: 2px;
}

#taskBarTemplate button{
    display:block;
}